.column {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media only screen and (max-width: 600px) {
  .column {
    display: flex;
    flex-direction: column;
  }
  .column > div {
    margin-bottom: 10px;
  }
}