.footerWrapper {
  border-top: grey 1px solid;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.links {
  display: flex;
}

.link {
  padding: 5px 10px;
}

.link:hover {
  background-color: #f2f2f2;
}