.slick-slider {
  /* position: absolute;
  z-index: -1;
  top: 0; */
  /* height: 100vh; */
  /* background-color: red; */
  /* width: 100%; */
}
.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  /* height: 600px */
  /* border: solid 1px green; */
}


.slick-arrow {
  display: none !important;
}