.App {
  display: flex;
  justify-content: center;
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

.siteContent {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: left;
  position: sticky;
  top: 0;
  background-color: white
  
}

.navButton {
  display: flex;
  color: lightgrey;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #efefef;
  height: 40px;
  padding: 0 20px

}

.selected {
  border-bottom: 4px solid #dedede;
  color: darkgrey
}

.routeContent {
  border: solid 1px red
}